

.imagem-home:hover{
  
      
 filter: drop-shadow(10px 5px 10px grey);

}
.imagem-home{
    width: 100%;
    cursor: pointer;
    
    margin-top: 15px;
    
}

.imagem-contato{
    width: 50%;
    padding: 30px;
    height: 250px;
    align-items: top;
    
} 
.servicos{
    border-radius: 30%;
    
}

.servicos:hover{
    background-color: #ff4500;
    transition: 0.3s all;
   filter: grayscale(30%);
    cursor: pointer;
