*{
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    box-sizing: border-box;
    text-decoration: none !important;
 
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
    text-decoration: none !important;
}

body {
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif !important;
}
 
.main-container {
    display: block;
    width: 100%;
    margin: 0 auto;
   
}

.container {
    display: block;
    float: left;
    padding: 10px;
    text-decoration: none;
    margin: 0 auto;
    max-width: 1098px;
}
header {
    background: #fff;
    width: 100%;
    float: left;
    display: block;
    padding: 20px;
    border-bottom: 2px solid rgba(255, 68, 0, 0.651);
 }

h1{
    font-size: 2.2rem;
    padding-bottom: 10px;
    color: rgb(1, 1, 146);
}

h2{
    border-bottom: 2px solid rgba(255, 68, 0, 0.651);
    font-size: 2.2rem;
    margin-bottom: 10px;
    color: rgba(6, 6, 160, 0.808);
}

h3{
    font-size: 2.2rem;
    padding-top: 10px;
    margin-bottom: 10px;
    color: rgba(6, 6, 160, 0.808);
}

h4{
    font-size: 1.8rem;
    padding-top: 10px;
    margin-bottom: 10px;
    color: rgba(6, 6, 160, 0.808);
}

h5 {
    font-size: 1.8rem;
    color: rgba(6, 6, 160, 0.808);
}
p{

    margin-bottom: 10px;
    line-height: 1.4;

}

img{
    width:  40%;
    height: auto;
}
.img {
    width: 100%;
    height: auto;
}

.img-logo{
    width: 100%;
    height: auto;
}

section {
    background: #fff;
      width: 100%;
    font-size: 1.5rem;
    padding: 20px;
    
}

section nav{
    text-decoration: none ;
    display: block;
    float: left;
    width: 30%;
        
}

nav li {
  
    border-radius: 2px;
    cursor: pointer;
    width: 300px;
    display: inline-block;
    z-index: 1;
    list-style: none;
    text-decoration: none;
    margin: 2px 20px 5px 0;
    font-size: 3rem ;

}
nav a{
   
    border-radius: 20px;
    cursor: pointer;
    width: 300px;
    display: inline-block;
    z-index: 1;
    list-style: none;
    text-decoration: none;
    background-color:rgba(255, 68, 0, 0.651);
    padding: 10px;
    font-size: 2rem ;
    text-decoration: none;
           
}


nav a:hover{
    background-color: orange;
    transition: 1s all;
    color: rgb(1, 1, 146);
}
section article {
    display: block;
    float: left;
    width: 70%;
    }

    article ul li{

        font-size: 1.8rem;
    }

    article ul p{
        font-size: 1.8rem;
    }
    footer{
        padding-top: -300px !important;
    background-color: rgb(1, 1, 146);
    width: 100%;    
    height: auto;
    display: flex;
    float: left;
    color: white;
    padding: 50px;
    align-content: space-between;
    z-index: 1;
    

}

footer p{
   font-size: 1.5rem;
   margin: auto;
   padding: 10px;
}

footer small {
    font-size: 80%;
    display: flex;
}
@media (max-width: 960px){
    section nav, section article, nav a, img,  i, input{
        width: 100%;
        height: auto;
        display: grid;
        
    }
        
    @media (max-width: 980px){
        footer .rede_social {
            display: -ms-inline-grid;
            font-size: 1rem;
            padding-left: 10px;
         }
            
        }

        @media (max-width: 980px){
            footer .rodape {
                display: -ms-inline-grid;
                font-size: 1rem;
                padding-left: 10px;
             }
                
            }
    @media (min-width: 720px) {
        section nav, section article,  nav a, img, i, input{
            width: 100%;
            height: auto;
        
            
    }
 }
}

@media (max-width: 876px){
    .form{
        display: contents;
        margin-left: 10px;
    }

}

@media (max-width: 792px){
    footer .rede_social {
        
       font-size: 1rem;
       padding-left: 10px;
    }

}
    
@media (max-width: 600px){
    footer .rodape{
        
       font-size: 1rem;
       padding-left: 10px;
    }
    
    
    
}


@media (max-width: 359px){
        .form input{
            width: 285px;
        } 
    
        #mensagem{
            width: 285px;
        }
        .form button{
            width: 285px;
        }
       footer{
        width: 0;
        
       }
    }

    
   
    .rede_social{
        padding-left: 20px;
    }

    .rede_social p{
        margin-left: -7px;
    }

    .rodape{
        padding-left: 20px;
    }


.fa-brands{
    font-size: 3rem;
    width: 15px;
    margin: 0 10px 0;
    margin-left: 15px;
    color: white;
}

.fa-brands:hover{
    color: orange;
    cursor: pointer;
}

.fa-solid{
    padding-top: 10px;
    color: white;
    display: flex;
    margin: 0 10px 0;
    font-size: 3rem;
    width: 15px;
}

.fa-solid:hover{
    cursor: pointer;
    color: orange;
}
.rede_social{
    padding-top: 10px;
    display: inline-block;
    padding-left: 300px;   
}

.cog-heading{
    margin-left: 20px !important;
    color: rgba(6, 6, 160, 0.808) !important;
}

.t_contato{
    font-size: 2.5rem;
}

.rodape{
    display: flex;
    margin:auto;
    padding-left: 250px;
}
                                                                                                                                          

.cog-icon cog-i-cogicon{
    visibility: hidden !important;
}

.form{
    margin-left: 320px;
}

label{
    font-size: 1.6rem;
    font-weight: 700;
    color: rgb(1, 1, 146);
}

input{
    border: 1px solid rgba(255, 68, 0, 0.651);
    border-radius: 5px;
    width: 350px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.4rem;
}

textarea{
    margin-top: 10px;
    border: 1px solid rgba(255, 68, 0, 0.651);
    border-radius: 5px;
    font-size: 1.4rem;
    width: 350px;
}

button{
    border: 1px solid rgba(255, 68, 0, 0.651);
    border-radius: 5px;
    width: 350px;
    height: auto;
    font-size: 1.6rem;
    padding: 5px;
    margin-top: 5px;
}

button:hover{
    background-color: rgb(14, 14, 185);
    color: orange;
    
}


.caixa-mensagem{
    width: 100%;
    height: 100%;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color: orange;
    position: absolute;
}

.caixa-mensagem h3{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    position: absolute;
}

.caixa-mensagem button {
    top: 58%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 150px;
    font-size: 1.6rem !important;
    
}

.caixa-mensagem button a{
    font-size: 1.6rem;
    color: black;
}


.caixa-mensagem button a:hover{
    color: orange;
    
}