*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



body{
   
  margin-top: 520px;
  background-image: url(../img/fundo.jpeg) ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  display: flex;
  height: auto;
  
}

h2{
    text-align: center;
    color: rgba(15, 7, 7, 0.712);
    font-size: 30px;
    margin: 20px;
}

.fundo-login{
    top:50%;
    left: 50%;
    position: absolute;
    width: 350px;
    background: rgba(0, 174, 255, 0.945);
    border-radius: 20% 0;
    box-shadow: 0px 0 30px rgba(232, 235, 236, 0.87);
    padding: 50px 20px;
    transform: translate(-50%, -50%);
}

input{
    width: 100%;
    height: 46px;
    color: white;
    margin-bottom: 30px;
    background: transparent;
    outline: none;
     border: none;
    border-bottom: 2px solid white;
    transition: .20s ease-in-out;
}

.input-fild{
    position: relative;
    margin-bottom: 10px;
    
    
}

Label{
    position: absolute;
    top:0;
    left:0;
    transform: translateY(18px);
    transition: ease-in-out .20s;
 
}


input:focus{
    border-bottom: 2px solid red;
    box-shadow: 0 2px 0 0 red;
    
}

input:focus + label{
    transform: translateY(-14px);
    font-weight: bold;
    color: red;
}

input:not(:placeholder-shown) + label{

    transform: translateY(-14px);
    font-weight: bold;
    color: red;

}

input:not(:placeholder-shown){
    border-bottom: 2px solid red;
    box-shadow: 0 2px 0 0 red;
}

input::placeholder{
    color: transparent;
    
}


.btn-entrar{
    text-align: center;
    padding: 10px;
    margin: 0 auto;
}

button{
    border: none;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 20px;
    border-radius: 30px;
    width: 200px;
    margin-bottom: 15px;
    cursor: pointer;
    
}

button:hover{
   border: transparent;
   background-color: rgba(0, 0, 0, 0.623);
    
}



a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

a:hover{
    color: rgba(255, 0, 0, 0.541);
}